*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center; 
}




.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

.image {
  width: 200px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.image:hover {
  transform: scale(1.2);
  z-index: 1;
}

div:hover .image:not(:hover) {
  transform: scale(0.8);
}
.pos{
  position: absolute;
  top: 50%;

}